<md-content layout-padding layout-fill ng-controller="SidebarController as sideCtrl">
    <md-list>
        <!--<md-list-item class="md-3-line" ng-repeat="session in sc.Sessions | filter: { title: query}">-->
            <!--<div class="md-list-item-text" ng-click="sc.showSession(session, $event)">-->
                <!--<md-ink-ripple>-->
                    <!--<div class="md-whiteframe-z1 md-padding">-->
                        <!--<h3>{{ session.title }}</h3>-->
                        <!--<h4>{{ session.subtitle }}</h4>-->
                        <!--<p>-->
                            <!--<span class="md-caption">{{ sc.duration(session)}}</span>-->
                            <!--<br>-->
                            <!--{{ session.abstract }}-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</md-ink-ripple>-->
            <!--</div>-->
        <!--</md-list-item>-->
        <md-list-item class="md-3-line" ng-click="sideCtrl.toggleSidenav('left')" ui-sref="/1">
            <div class="md-list-item-text">
                <md-ink-ripple>
                    <div class="md-whiteframe-z1 md-padding">
                        <h3> Arnav Gupta </h3>
                        <h4> Rs. 749 </h4>
                        <p>
                            <span class="md-caption"> OXB2230128 </span>
                            <br>
                            Chicken McGrill, Fries
                        </p>
                    </div>
                </md-ink-ripple>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="sideCtrl.toggleSidenav('left')" ui-sref="/2">
            <div class="md-list-item-text">
                <md-ink-ripple>
                    <div class="md-whiteframe-z1 md-padding">
                        <h3> Arnav Gupta </h3>
                        <h4 style="color: red;"> Rs. 749 </h4>
                        <p>
                            <span class="md-caption"> OXB2230128 </span>
                            <br>
                            Chicken McGrill, Fries
                        </p>
                    </div>
                </md-ink-ripple>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="sideCtrl.toggleSidenav('left')" ui-sref="/3">
            <div class="md-list-item-text">
                <md-ink-ripple>
                    <div class="md-whiteframe-z1 md-padding">
                        <h3> Arnav Gupta </h3>
                        <h4> Rs. 749 </h4>
                        <p>
                            <span class="md-caption"> OXB2230128 </span>
                            <br>
                            Chicken McGrill, Fries
                        </p>
                    </div>
                </md-ink-ripple>
            </div>
        </md-list-item>

    </md-list>
</md-content>